<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="javascripts/ajax.js"></script>
  </head>
  <body>
    <h1><%= title %> ajax</h1>
    <div><%= msg %></div>
    <p><a href="/ajax?p1=hello&p2=bye">link</a></div>

    <form action="/ajax" method="post">
      <input type="text" id="input1" name="input1" value= "<%= input %>">
      <input type="button" id="btn" value="click" onclick="doAction();" >
    </form>

  </body>
</html>
