<!DOCTYPE html>
<!--  モジュール名 -->
<html ng-app="myApp">
  <head>
    <title><%= title %></title>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.min.js"></script>
    <script src="javascripts/controller.js"></script>
  </head>
  <!-- コントローラー名 -->
  <body ng-controller="MyController">
    <!--  Angulra JS サンプルページ　-->
    <div>
      {{ msg }}
    </div>
  </body>
</html>
